In [1]:
# Load packages
import pandas as pd
import numpy as np
import fastparquet

In [2]:
# Don't run this!!!
pop_data = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data.csv", encoding='latin-1')
 # drop columns that aren't relevant
pop_data = pop_data.drop(columns = ["SUMLEV", "REGION", "DIVISION", "ESTIMATESBASE2000", "POPESTIMATE2000", 
"POPESTIMATE2001", "POPESTIMATE2002", "POPESTIMATE2010"])
pop_data.head()

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP
0,1,0,Alabama,Alabama,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736
1,1,1,Alabama,Autauga County,46800,48366,49676,51328,52405,53277,54135,54571
2,1,3,Alabama,Baldwin County,151509,156266,162183,168121,172404,175827,179406,182265
3,1,5,Alabama,Barbour County,28594,28287,28027,27861,27757,27808,27657,27457
4,1,7,Alabama,Bibb County,21399,21721,22042,22099,22438,22705,22941,22915

In [3]:
# Don't run this!!!
# Reading in pop data after 2010
pop_data_2 = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data_2.csv", encoding='latin-1')
pop_data_2 = pop_data_2[["STNAME", "CTYNAME", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"]]

pop_data_2.head()

,STNAME,CTYNAME,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4799069,4815588,4830081,4841799,4852347
1,Alabama,Autauga County,55227,54954,54727,54893,54864
2,Alabama,Baldwin County,186558,190145,194885,199183,202939
3,Alabama,Barbour County,27341,27169,26937,26755,26283
4,Alabama,Bibb County,22745,22667,22521,22553,22566

In [4]:
# Don't run this!!!
# Merging both datasets to have complete pop data

pop_merged = pd.merge(left = pop_data, right = pop_data_2)

In [5]:
# Don't run this!!!
# save file as parquet
pop_merged.to_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", 
engine = 'fastparquet')

In [6]:
# RUN FROM HERE
# Read in parquet data
#population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

In [7]:
population.sample(15)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
index,,,,,,,,,,,,,,,,,
1170,22,79,Louisiana,Rapides Parish,126597,127095,127544,130103,130238,130785,131095,131613,132020,132012,132322,132202,131780
2793,48,457,Texas,Tyler County,20823,21038,20935,21034,21279,21570,21737,21766,21674,21504,21508,21468,21370
2889,51,49,Virginia,Cumberland County,9216,9223,9465,9596,9762,9849,10013,10052,9985,9841,9848,9839,9756
2494,47,51,Tennessee,Franklin County,40084,40359,40531,40877,41151,41093,41141,41052,40857,40688,41213,41288,41343
2803,48,477,Texas,Washington County,30995,31330,31710,32199,32434,32869,33459,33718,33966,33930,34201,34403,34836
1693,31,25,Nebraska,Cass County,24868,25074,25170,25240,25256,25322,25122,25241,25237,25126,25295,25404,25421
2196,40,59,Oklahoma,Harper County,3412,3465,3458,3527,3522,3645,3654,3685,3713,3711,3871,3894,3826
106,4,17,Arizona,Navajo County,101529,102774,104184,105624,106927,107626,107571,107449,107552,107313,107135,107701,107638
884,19,159,Iowa,Ringgold County,5332,5335,5304,5230,5201,5164,5119,5131,5049,5027,4971,4961,4977
175,5,125,Arkansas,Saline County,88627,90961,93493,96661,100043,102599,105362,107118,109553,111442,113348,114874,116390
3014,53,31,Washington,Jefferson County,27588,27949,28506,29239,29346,29648,29714,29872,29853,29800,30004,30147,30339
3023,53,49,Washington,Pacific County,20885,20953,21228,21326,21415,21305,21026,20920,20884,20582,20442,20564,20869
680,17,143,Illinois,Peoria County,182338,182613,182868,183446,184048,184803,186930,186494,186754,187317,188643,187512,186481
1615,29,217,Missouri,Vernon County,20481,20620,20722,20715,20746,20891,21071,21159,21084,20930,20978,20983,20758
2211,40,89,Oklahoma,McCurtain County,33625,33282,33235,33198,33128,33112,33002,33151,33309,33345,33228,33192,33173

In [8]:
#Rename columns

population.rename(columns = {'CENSUS2010POP': 'POPESTIMATE2010'}, inplace=True)

In [9]:
for col in population.columns:
    if col[:3] == "POP":
        population.rename(columns={col: col[-4:]}, inplace= True)

population.columns

Index(['STATE', 'COUNTY', 'STNAME', 'CTYNAME', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [10]:
# melt the population fields
melted_pop = pd.melt(population, ["STATE", "COUNTY", "STNAME", "CTYNAME"])

melted_pop.sample(14)

       STATE  COUNTY          STNAME            CTYNAME variable   value
36878     32       5          Nevada     Douglas County     2014   47373
8090      31      55        Nebraska     Douglas County     2005  488114
7035      17      89        Illinois        Kane County     2005  475384
7147      18     107         Indiana  Montgomery County     2005   38105
18509     47     171       Tennessee      Unicoi County     2008   18291
4056      19     121            Iowa     Madison County     2004   14733
9764       6       5      California      Amador County     2006   38353
33899     37     133  North Carolina      Onslow County     2013  192354
18046     39      27            Ohio     Clinton County     2008   42656
34775     51       1        Virginia    Accomack County     2013   32969
29927     23      25           Maine    Somerset County     2012   51806
14575     34      15      New Jersey  Gloucester County     2007  284086
37405     42      45    Pennsylvania    Delaware County     2014  562696
26290     18     101         Indiana      Martin County     2011   10336