In [2]:
# Load packages
import pandas as pd
import numpy as np
import fastparquet

In [50]:
# Don't run this!!!
pop_data = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data.csv", encoding='latin-1')
 # drop columns that aren't relevant
pop_data = pop_data.drop(columns = ["SUMLEV", "REGION", "DIVISION", "ESTIMATESBASE2000", "POPESTIMATE2000", 
"POPESTIMATE2001", "POPESTIMATE2002", "POPESTIMATE2003", "POPESTIMATE2004", "POPESTIMATE2005", "POPESTIMATE2010"])
pop_data.head()

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP
0,1,0,Alabama,Alabama,4628981,4672840,4718206,4757938,4779736
1,1,1,Alabama,Autauga County,51328,52405,53277,54135,54571
2,1,3,Alabama,Baldwin County,168121,172404,175827,179406,182265
3,1,5,Alabama,Barbour County,27861,27757,27808,27657,27457
4,1,7,Alabama,Bibb County,22099,22438,22705,22941,22915

In [51]:
# Don't run this!!!
# Reading in pop data after 2010
pop_data_2 = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data_2.csv", encoding='latin-1')
pop_data_2 = pop_data_2[["STNAME", "CTYNAME", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"]]

pop_data_2.head()

,STNAME,CTYNAME,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4799069,4815588,4830081,4841799,4852347
1,Alabama,Autauga County,55227,54954,54727,54893,54864
2,Alabama,Baldwin County,186558,190145,194885,199183,202939
3,Alabama,Barbour County,27341,27169,26937,26755,26283
4,Alabama,Bibb County,22745,22667,22521,22553,22566

In [52]:
# Don't run this!!!
# Merging both datasets to have complete pop data

pop_merged = pd.merge(left = pop_data, right = pop_data_2)

In [53]:
# Don't run this!!!
# save file as parquet
pop_merged.to_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", 
engine = 'fastparquet')

In [29]:
# RUN FROM HERE
# Read in parquet data
#population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

population = pd.read_parquet("/Users/yangshining/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

In [30]:
population.sample(15)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
index,,,,,,,,,,,,,,
3001,53,5,Washington,Benton County,159564,161669,166573,171122,175177,180436,182373,184318,186489,190218
1091,21,161,Kentucky,Mason County,17138,17259,17454,17464,17490,17546,17460,17323,17133,17050
793,18,163,Indiana,Vanderburgh County,176822,177789,178053,178995,179703,180468,181040,181580,181934,181504
2507,47,77,Tennessee,Henderson County,27066,27370,27655,27748,27769,28039,28082,28042,28093,28078
3049,54,21,West Virginia,Gilmer County,8083,8248,8408,8529,8693,8751,8748,8622,8498,8306
1245,25,15,Massachusetts,Hampshire County,156168,156842,157615,157910,158080,160154,160419,160856,160918,160709
2270,41,51,Oregon,Multnomah County,683767,697799,712989,727721,735334,749742,760198,766532,778430,790008
281,8,65,Colorado,Lake County,7278,7392,7450,7426,7310,7343,7253,7263,7317,7442
1660,30,73,Montana,Pondera County,6172,6169,6117,6109,6153,6193,6150,6216,6138,6095
3038,54,0,West Virginia,West Virginia,1827912,1834052,1840310,1847775,1852994,1856301,1856872,1853914,1849489,1842050
690,17,163,Illinois,St. Clair County,263445,264764,266518,268489,270056,270048,268673,266831,265941,264858
1843,35,31,New Mexico,McKinley County,70541,69959,70449,70567,71492,72332,72365,72665,72796,73462
2550,47,163,Tennessee,Sullivan County,154227,155367,156028,156661,156823,156876,156322,156185,156404,156199
636,17,55,Illinois,Franklin County,39560,39473,39546,39482,39561,40033,39865,39555,39446,39383
1343,27,13,Minnesota,Blue Earth County,61100,61974,62860,63565,64013,64359,64974,64737,65300,65673

In [32]:
#Rename columns

population.rename(columns = {'CENSUS2010POP': 'POPESTIMATE2010'}, inplace=True)

In [33]:
for col in population.columns:
    if col[:3] == "POP":
        population.rename(columns={col: col[-4:]}, inplace= True)

population.columns

Index(['STATE', 'COUNTY', 'STNAME', 'CTYNAME', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [35]:
# melt the population fields
melted_pop = pd.melt(population, ["STATE", "COUNTY", "STNAME", "CTYNAME"])

melted_pop.sample(14)

       STATE  COUNTY         STNAME            CTYNAME variable   value
30312     29     171       Missouri      Putnam County     2015    4860
20947     33      17  New Hampshire   Strafford County     2012  124768
10829     26       7       Michigan      Alpena County     2009   29755
7918      29      57       Missouri        Dade County     2008    7951
135        5      45       Arkansas    Faulkner County     2006  102969
11784     40      89       Oklahoma   McCurtain County     2009   33002
24661     42      85   Pennsylvania      Mercer County     2013  115129
13716     20      95         Kansas     Kingman County     2010    7858
25782      8      13       Colorado     Boulder County     2014  312233
31408     48     249          Texas   Jim Wells County     2015   41523
26020     13     191        Georgia    McIntosh County     2014   14064
24873     47     135      Tennessee       Perry County     2013    7880
6878      13     199        Georgia  Meriwether County     2008   22632
4496      26     105       Michigan       Mason County     2007   28685