In [42]:
# Load packages
import pandas as pd
import numpy as np
import fastparquet

In [50]:
# Don't run this!!!
pop_data = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data.csv", encoding='latin-1')
 # drop columns that aren't relevant
pop_data = pop_data.drop(columns = ["SUMLEV", "REGION", "DIVISION", "ESTIMATESBASE2000", "POPESTIMATE2000", 
"POPESTIMATE2001", "POPESTIMATE2002", "POPESTIMATE2003", "POPESTIMATE2004", "POPESTIMATE2005", "POPESTIMATE2010"])
pop_data.head()

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP
0,1,0,Alabama,Alabama,4628981,4672840,4718206,4757938,4779736
1,1,1,Alabama,Autauga County,51328,52405,53277,54135,54571
2,1,3,Alabama,Baldwin County,168121,172404,175827,179406,182265
3,1,5,Alabama,Barbour County,27861,27757,27808,27657,27457
4,1,7,Alabama,Bibb County,22099,22438,22705,22941,22915

In [51]:
# Don't run this!!!
# Reading in pop data after 2010
pop_data_2 = pd.read_csv("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/Mid-sem Project/pop_data_2.csv", encoding='latin-1')
pop_data_2 = pop_data_2[["STNAME", "CTYNAME", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013", "POPESTIMATE2014", "POPESTIMATE2015"]]

pop_data_2.head()

,STNAME,CTYNAME,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4799069,4815588,4830081,4841799,4852347
1,Alabama,Autauga County,55227,54954,54727,54893,54864
2,Alabama,Baldwin County,186558,190145,194885,199183,202939
3,Alabama,Barbour County,27341,27169,26937,26755,26283
4,Alabama,Bibb County,22745,22667,22521,22553,22566

In [52]:
# Don't run this!!!
# Merging both datasets to have complete pop data

pop_merged = pd.merge(left = pop_data, right = pop_data_2)

In [53]:
# Don't run this!!!
# save file as parquet
pop_merged.to_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", 
engine = 'fastparquet')

In [54]:
# RUN FROM HERE
# Read in parquet data
population = pd.read_parquet("/Users/preetkhowaja/Documents/MIDS Fall 2021/Practicing DS/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine = 'fastparquet')

In [55]:
population.sample(15)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
index,,,,,,,,,,,,,,
2674,48,219,Texas,Hockley County,22912,22844,22958,23086,22935,22931,23074,23408,23463,23310
978,20,147,Kansas,Phillips County,5573,5588,5586,5620,5642,5541,5521,5560,5494,5420
2048,38,49,North Dakota,McHenry County,5507,5370,5355,5373,5395,5501,5800,5908,5977,5975
186,5,147,Arkansas,Woodruff County,7877,7648,7458,7294,7260,7164,7052,7018,6860,6706
422,13,51,Georgia,Chatham County,246896,251981,255269,262122,265128,271623,276164,277650,282201,285959
1251,25,27,Massachusetts,Worcester County,785345,788280,790847,795251,798552,804063,806942,810846,815526,818117
3177,56,19,Wyoming,Johnson County,7796,8146,8460,8565,8569,8646,8641,8641,8582,8611
16,1,31,Alabama,Coffee County,46228,47458,48516,49440,49948,50444,51141,50681,50657,50963
650,17,83,Illinois,Jersey County,22736,22838,23084,23060,22985,22879,22710,22599,22492,22260
2794,48,459,Texas,Upshur County,38004,38275,38706,39084,39309,39731,39918,39757,40280,40317
1269,26,33,Michigan,Chippewa County,39051,39314,39247,39174,38520,38890,38993,38569,38254,37973
2465,46,129,South Dakota,Walworth County,5469,5379,5368,5371,5438,5559,5446,5484,5502,5404
2598,48,67,Texas,Cass County,30095,30176,30217,30297,30464,30281,30031,30237,30123,30140
618,17,19,Illinois,Champaign County,193844,196621,197570,199968,201081,203197,204630,206425,207942,209382
3069,54,61,West Virginia,Monongalia County,89656,90764,92200,94165,96189,99018,100915,102266,103480,104681

In [58]:
#Rename columns

population.rename(columns = {'CENSUS2010POP': '2010'})

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
index,,,,,,,,,,,,,,
0,1,0,Alabama,Alabama,4628981,4672840,4718206,4757938,4779736,4799069,4815588,4830081,4841799,4852347
1,1,1,Alabama,Autauga County,51328,52405,53277,54135,54571,55227,54954,54727,54893,54864
2,1,3,Alabama,Baldwin County,168121,172404,175827,179406,182265,186558,190145,194885,199183,202939
3,1,5,Alabama,Barbour County,27861,27757,27808,27657,27457,27341,27169,26937,26755,26283
4,1,7,Alabama,Bibb County,22099,22438,22705,22941,22915,22745,22667,22521,22553,22566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,56,37,Wyoming,Sweetwater County,39749,41470,42358,44133,43806,43986,45002,45157,44948,44719
3187,56,39,Wyoming,Teton County,20014,20472,20988,21232,21294,21414,21624,22315,22773,23047
3188,56,41,Wyoming,Uinta County,19709,20171,20613,21054,21118,20896,20996,20951,20822,20763
3189,56,43,Wyoming,Washakie County,7979,8169,8229,8423,8533,8449,8409,8413,8273,8278
3190,56,45,Wyoming,Weston County,6717,7033,7133,7266,7208,7142,7077,7136,7138,7208

In [57]:
# melt the population fields
melted_pop = pd.melt(population, ["STATE", "COUNTY", "STNAME", "CTYNAME"])

melted_pop.sample(14)

       STATE  COUNTY        STNAME            CTYNAME         variable   value
14343     29     143      Missouri  New Madrid County    CENSUS2010POP   18956
24173     35      19    New Mexico   Guadalupe County  POPESTIMATE2013    4531
29711     20     175        Kansas      Seward County  POPESTIMATE2015   23273
16996     21      61      Kentucky    Edmonson County  POPESTIMATE2011   12229
23767     28      11   Mississippi     Bolivar County  POPESTIMATE2013   33979
26492     20     119        Kansas       Meade County  POPESTIMATE2014    4357
27551     38       0  North Dakota       North Dakota  POPESTIMATE2014  737401
21817     48     213         Texas   Henderson County  POPESTIMATE2012   78992
30973     41      19        Oregon     Douglas County  POPESTIMATE2015  107164
26745     24      11      Maryland    Caroline County  POPESTIMATE2014   32532
15319     47     173     Tennessee       Union County    CENSUS2010POP   19109
22255     55      29     Wisconsin        Door County  POPESTIMATE2012   27536
17456     28     153   Mississippi       Wayne County  POPESTIMATE2011   20618
2103      39      51          Ohio      Fulton County  POPESTIMATE2006   42785