# Merging data

In [62]:
import pandas as pd
import numpy as np

In [63]:
# Read data 

# opioid
opioid = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/opi_merge_final.parquet", engine='fastparquet')

# vital deaths
vital = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/Vital.parquet", engine='fastparquet')

# population
population = pd.read_parquet("/Users/yangshining/Desktop/pds2021-opioids-pds6/10_modified_data/pop_final.parquet", engine='fastparquet')

In [64]:
opioid.sample(10)

,county_name,state_abbr,fips,BUYER_STATE,BUYER_COUNTY,year,MME
index,,,,,,,
2161,PEACH,GA,13225,GA,PEACH,2006,4.040090e+06
8475,FRANKLIN,WA,53021,WA,FRANKLIN,2006,1.203129e+07
293,HALE,AL,1065,AL,HALE,2011,3.934259e+06
2313,STEWART,GA,13259,GA,STEWART,2014,7.619619e+05
1147,SUWANNEE,FL,12121,FL,SUWANNEE,2013,1.480466e+07
6832,DICKENS,TX,48125,TX,DICKENS,2006,2.026002e+05
58,BUTLER,AL,1013,AL,BUTLER,2010,7.285018e+06
3317,ST. BERNARD,LA,22087,LA,ST. BERNARD,2008,1.236259e+07
7439,KNOX,TX,48275,TX,KNOX,2010,1.064080e+06
7178,HARRISON,TX,48203,TX,HARRISON,2010,1.274016e+07

In [65]:
vital.sample(15)

                     County  County Code  Year  Deaths
605        Boone County, MO        29019  2011      19
5560       Pinal County, AZ         4021  2012      38
5444   Penobscot County, ME        23019  2005      16
4892   Multnomah County, OR        41051  2013     141
2686  Greenville County, SC        45045  2010      77
2774    Hamilton County, TN        47065  2006      33
3983       Lewis County, WA        53041  2005      13
5901    Richland County, SC        45079  2011      36
2590      Gordon County, GA        13129  2011      11
5312     Orleans Parish, LA        22071  2007      59
4709      Monroe County, FL        12087  2007      17
4633   Milwaukee County, WI        55079  2005     189
5092     Norfolk County, MA        25021  2004      47
56       Alachua County, FL        12001  2011      14
1446     Clayton County, GA        13063  2009      19

In [66]:
vital[vital["County Code"]==1003]

                 County  County Code  Year  Deaths
267  Baldwin County, AL         1003  2003      10
268  Baldwin County, AL         1003  2004      18
269  Baldwin County, AL         1003  2005      14
270  Baldwin County, AL         1003  2006      11
271  Baldwin County, AL         1003  2007      24
272  Baldwin County, AL         1003  2008      19
273  Baldwin County, AL         1003  2009      29
274  Baldwin County, AL         1003  2010      24
275  Baldwin County, AL         1003  2011      23
276  Baldwin County, AL         1003  2012      24
277  Baldwin County, AL         1003  2013      20
278  Baldwin County, AL         1003  2014      32
279  Baldwin County, AL         1003  2015      40

In [67]:
'''vital_test = vital.copy()
vital_test["state"] = vital_test["County"].str[-2:]
vital_test["state"].value_counts()
'''

'vital_test = vital.copy()\nvital_test["state"] = vital_test["County"].str[-2:]\nvital_test["state"].value_counts()\n'

In [68]:
vital["County"].dtype

dtype('O')

In [69]:
population.sample(10)

,STATE,COUNTY,STNAME,CTYNAME,Year,Population,STATE1,COUNTY1,FIPS
18735,48,431,Texas,Sterling County,2011,1170,48,431,48431
24542,40,77,Oklahoma,Latimer County,2013,10794,40,077,40077
31029,42,57,Pennsylvania,Fulton County,2015,14509,42,057,42057
9569,56,39,Wyoming,Teton County,2008,20988,56,039,56039
2405,46,7,South Dakota,Bennett County,2006,3475,46,007,46007
25676,5,71,Arkansas,Johnson County,2014,25969,05,071,05071
9312,51,137,Virginia,Orange County,2008,33077,51,137,51137
17257,26,99,Michigan,Macomb County,2011,844146,26,099,26099
11813,40,147,Oklahoma,Washington County,2009,50754,40,147,40147
158,5,91,Arkansas,Miller County,2006,42669,05,091,05091

In [70]:
# Check for duplicated value in population data
population[population.duplicated(["FIPS", "Year"], keep=False)==True]
# District of Columbia has duplicated values, but it's not the state of our interest. We leave it as it is.

,STATE,COUNTY,STNAME,CTYNAME,Year,Population,STATE1,COUNTY1,FIPS
325,11,0,District of Columbia,District of Columbia,2006,570681,11,000,11000
326,11,0,District of Columbia,District of Columbia,2006,570681,11,000,11000
327,11,1,District of Columbia,District of Columbia,2006,570681,11,001,11001
328,11,1,District of Columbia,District of Columbia,2006,570681,11,001,11001
3516,11,0,District of Columbia,District of Columbia,2007,574404,11,000,11000
3517,11,0,District of Columbia,District of Columbia,2007,574404,11,000,11000
3518,11,1,District of Columbia,District of Columbia,2007,574404,11,001,11001
3519,11,1,District of Columbia,District of Columbia,2007,574404,11,001,11001
6707,11,0,District of Columbia,District of Columbia,2008,580236,11,000,11000
6708,11,0,District of Columbia,District of Columbia,2008,580236,11,000,11000
6709,11,1,District of Columbia,District of Columbia,2008,580236,11,001,11001
6710,11,1,District of Columbia,District of Columbia,2008,580236,11,001,11001
9898,11,0,District of Columbia,District of Columbia,2009,592228,11,000,11000
9899,11,0,District of Columbia,District of Columbia,2009,592228,11,000,11000
9900,11,1,District of Columbia,District of Columbia,2009,592228,11,001,11001
9901,11,1,District of Columbia,District of Columbia,2009,592228,11,001,11001
13089,11,0,District of Columbia,District of Columbia,2010,601723,11,000,11000
13090,11,0,District of Columbia,District of Columbia,2010,601723,11,000,11000
13091,11,1,District of Columbia,District of Columbia,2010,601723,11,001,11001
13092,11,1,District of Columbia,District of Columbia,2010,601723,11,001,11001
16280,11,0,District of Columbia,District of Columbia,2011,619800,11,000,11000
16281,11,0,District of Columbia,District of Columbia,2011,619800,11,000,11000
16282,11,1,District of Columbia,District of Columbia,2011,619800,11,001,11001
16283,11,1,District of Columbia,District of Columbia,2011,619800,11,001,11001
19471,11,0,District of Columbia,District of Columbia,2012,634924,11,000,11000
19472,11,0,District of Columbia,District of Columbia,2012,634924,11,000,11000
19473,11,1,District of Columbia,District of Columbia,2012,634924,11,001,11001
19474,11,1,District of Columbia,District of Columbia,2012,634924,11,001,11001
22662,11,0,District of Columbia,District of Columbia,2013,650581,11,000,11000
22663,11,0,District of Columbia,District of Columbia,2013,650581,11,000,11000
22664,11,1,District of Columbia,District of Columbia,2013,650581,11,001,11001
22665,11,1,District of Columbia,District of Columbia,2013,650581,11,001,11001
25853,11,0,District of Columbia,District of Columbia,2014,662328,11,000,11000
25854,11,0,District of Columbia,District of Columbia,2014,662328,11,000,11000
25855,11,1,District of Columbia,District of Columbia,2014,662328,11,001,11001
25856,11,1,District of Columbia,District of Columbia,2014,662328,11,001,11001
29044,11,0,District of Columbia,District of Columbia,2015,675400,11,000,11000
29045,11,0,District of Columbia,District of Columbia,2015,675400,11,000,11000
29046,11,1,District of Columbia,District of Columbia,2015,675400,11,001,11001
29047,11,1,District of Columbia,District of Columbia,2015,675400,11,001,11001

In [88]:
# Merge opioid and vital first

merge1 = pd.merge(opioid, vital, left_on=["fips", "year"], right_on=["County Code", "Year"], how='outer')

merge1.rename({"fips": "fips_opi", "County": "county_vital", "County Code": "fips_vital", "Year": "year_vital"}, axis=1, inplace=True)

merge1

# I tried to convert non-missing year values to integer but failed...
#merge1["year"] = np.where(merge1["year"].notnull(), merge1["year"].values.astype(int), merge1["year"])

,county_name,state_abbr,fips_opi,BUYER_STATE,BUYER_COUNTY,year,MME,county_vital,fips_vital,year_vital,Deaths
0,AUTAUGA,AL,1001.0,AL,AUTAUGA,2006.0,1.710054e+07,NaN,NaN,NaN,NaN
1,AUTAUGA,AL,1001.0,AL,AUTAUGA,2007.0,1.915244e+07,NaN,NaN,NaN,NaN
2,AUTAUGA,AL,1001.0,AL,AUTAUGA,2008.0,2.178584e+07,NaN,NaN,NaN,NaN
3,AUTAUGA,AL,1001.0,AL,AUTAUGA,2009.0,2.443999e+07,NaN,NaN,NaN,NaN
4,AUTAUGA,AL,1001.0,AL,AUTAUGA,2010.0,2.616931e+07,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma County, AZ",4027.0,2011.0,20.0
14877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma County, AZ",4027.0,2012.0,32.0
14878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma County, AZ",4027.0,2013.0,22.0
14879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma County, AZ",4027.0,2014.0,35.0
14880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Yuma County, AZ",4027.0,2015.0,24.0

In [90]:
# Convert the fips column in merge1 data to strings and fill them to 5 digits. (for better merging with population data)

merge1["fips_opi"] = merge1["fips_opi"].astype(str)

merge1["fips_opi"] = merge1["fips_opi"].apply(lambda x: x.zfill(5))

#merge1 = merge1.drop(columns=["year", "County Code"])

# Convert the year column in population data to int64 so that the type matches

population["Year"] = population["Year"].astype(int)

In [91]:
# Merge opioid and vital deaths data with population data, then

merge2 = pd.merge(merge1, population, left_on=["fips_opi", "year"], right_on=["FIPS", "Year"], how='outer')

merge2

#merge_final = merge2[["BUYER_STATE", "BUYER_COUNTY", "Year", "MME", "Deaths", "Population", "fips"]]

,county_name,state_abbr,fips_opi,BUYER_STATE,BUYER_COUNTY,year,MME,county_vital,fips_vital,year_vital,Deaths,STATE,COUNTY,STNAME,CTYNAME,Year,Population,STATE1,COUNTY1,FIPS
0,AUTAUGA,AL,1001.0,AL,AUTAUGA,2006.0,1.710054e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUTAUGA,AL,1001.0,AL,AUTAUGA,2007.0,1.915244e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUTAUGA,AL,1001.0,AL,AUTAUGA,2008.0,2.178584e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUTAUGA,AL,1001.0,AL,AUTAUGA,2009.0,2.443999e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AUTAUGA,AL,1001.0,AL,AUTAUGA,2010.0,2.616931e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,37.0,Wyoming,Sweetwater County,2015.0,44719.0,56,037,56037
46787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,39.0,Wyoming,Teton County,2015.0,23047.0,56,039,56039
46788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,41.0,Wyoming,Uinta County,2015.0,20763.0,56,041,56041
46789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,43.0,Wyoming,Washakie County,2015.0,8278.0,56,043,56043
46790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,45.0,Wyoming,Weston County,2015.0,7208.0,56,045,56045

In [74]:
merge_final["fips"]

SyntaxError: invalid syntax (751815666.py, line 1)

In [ ]:
## Checking if we have same number of rows for all years. 
merge_final['Year'].value_counts()

2015.0    3990
2014.0    3942
2013.0    3897
2011.0    3885
2012.0    3873
2010.0    3844
2009.0    3790
2008.0    3788
2007.0    3763
2006.0    3720
2005.0     481
2004.0     453
2003.0     409
Name: Year, dtype: int64